extends layout

block titles
block content
  .animated.fadeIn
    .row 
      h3.center ABOUT
      br
      .splash-btn-container
        a(href='/contact').btn.waves-effect.waves-light.splash-btn Contact Us →
      br
    .row
      .col.sm12.m12.l6.about-body-text
        p
          | Von Arden Productions is a video and photography company primarily serving the Mid Atlantic region (Maryland, Virginia, Washington DC, West Virginia, Delaware, and Pennsylvania), though we also take events nationwide.
        p
          |One of our main values is versatility, and while we specialized in wedding, mitzahs, and event videography/photography, Von Arden also has past experience in shooting corporate videos, interviews, testimonials, portraits, aerial footage, real estate, virtual tours, and product photography.  
        p
          |Essentially whatever or wherever your event is, we will craft a high quality product that delivers your unique story.
      .col.s12.m6.offset-m3.l6.about-pic
        img(src='images/profile.jpg')
        h6.center Eric Holtscneider - Founder
    

block footer
