extends layout
block content
  .row
    .form-div.col.s12.m5.l5
      form(id='contactForm' action='//formspree.io/timpending@gmail.com' method='POST')
        label(for='first-name')
          div.input-field
            input(type='text', name='name', placeholder='Name' required)
        label(for='email')
          div.input-field
            input(type='text', name='_replyto', placeholder='Email' required)
        label(for='phone')
          div.input-field
            input(type='text', name='phone', placeholder='Phone Number')
        label(for='event-date')
          div.input-field
            input.datepicker(type='date', name='event-date', placeholder='Event Date' required)
        label(for='event-location')
          div.input-field
            input(type='text', name='event-location', placeholder='Event Location')
        label(for='find-out')
          div.input-field
            input(type='text', name='event-location', placeholder='How did you find out about us?')
        label(for='event-details')
          div.input-field
            textarea.materialize-textarea(name='event-details', placeholder='Send us the details.')
        //- input(type='hidden' name="_next" value='//mywebsite.com/thanks.html')
        input(type='hidden' name='_subject' value='Von Arden Contact')
        input(type="text" name="_gotcha" style="display:none")
        
        div.submit-input
          button.btn.waves-effect.waves-light.cyan(type="submit", value="Submit") Submit
            i.material-icons.right send
    .map.col.s12.m6.l6.offset-m1.offset-l1
      .contact-info
        h5 Contact Info
        br
        .contact-subinfo
        p
          i.material-icons.left.prefix account_circle 
          | Eric Von Holtscneider
        p
          i.material-icons.left.prefix phone
          | 410-867-5309
        p
          i.material-icons.left.prefix email
          | VonArdenProductions@gmail.com
      .divider
      br
      .video-container
        iframe(src='https://goo.gl/5HEkC2', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
block footer
