extends layout
block titles
  h1= title
block content
  
  .contact-map
    iframe(src='https://goo.gl/5HEkC2', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
  
block footer
