extends layout

block titles
  .animated.fadeIn
    .splash-container
      h1.splash-header= title
    .splash-btn-container
      a(href='/portfolio').btn.splash-btn View Past Projects →
block content
block footer
