extends layout

block titles
  .animated.fadeIn
    .splash-container
      h2.splash-header= title
    .splash-btn-container
      a(href='/portfolio').btn.waves-effect.waves-light.splash-btn View Past Projects →
block content
block footer
