doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(type='text/css', rel='stylesheet' href='stylesheets/materialize.css'  media='screen,projection')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css')
    link(type='text/css', rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    .container  
      block header
      include ../public/includes/header
      block titles
      block content
      block footer
      include ../public/includes/footer
      script(type='text/javascript', src='/javascripts/materialize.js')
      script(type='text/javascript', src='/javascripts/jquery.js')
      script(type='text/javascript', src='/javascripts/javascript.js')
