extends layout

block titles
block content
  .row 
    h3.center VIDEOS
    br
    .splash-btn-container
      a(href='/about').btn.splash-btn Here's What We're All About →
    br
  .row
    .col.s12.m12.l12.card
      .video-container
        iframe.animated.fadeInDown(src='https://player.vimeo.com/video/175322552?color=26c6da&title=0&byline=0&portrait=0', width='640', height='360', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
      p.center Wedding Reel 2016
  .row
    .col.s12.m12.l12.card
      .video-container
        iframe.animated.fadeInDown(src='https://player.vimeo.com/video/176695751?color=26c6da&title=0&byline=0&portrait=0', width='640', height='360', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
      p.center Brittany & Ryan's Wedding
  .row
    .col.s12.m12.l12.card
      .video-container
        iframe.animated.fadeInDown(src='https://player.vimeo.com/video/157742720?color=26c6da&title=0&byline=0&portrait=0', width='640', height='360', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
      h6.center Sam & Sara's Mitzvahs
  .row  
    .col.s12.m12.l12.card
      .video-container
        iframe.animated.fadeInDown(src='https://player.vimeo.com/video/154921182?color=26c6da&title=0&byline=0&portrait=0', width='640', height='360', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
      h6.center Erin & Charlie's Wedding
  .row  
    .col.s12.m12.l12.card
      .video-container
        iframe.animated.fadeInDown(src='https://player.vimeo.com/video/176695794?color=26c6da&title=0&byline=0&portrait=0', width='640', height='360', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
      h6.center Matt & Min's Wedding
  .row
    .col.s12.m12.l12.card
      .video-container
        iframe.animated.fadeInDown(src='https://player.vimeo.com/video/162204109?color=26c6da&title=0&byline=0&portrait=0',width='640', height='360', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
      h6.center Danielle's Bat Mitzvah
  .row
    .splash-btn-container
      a(href='https://vimeo.com/vonardenproductions').btn.splash-btn 
        |For more videos, head to Vimeo 
        span.fa.fa-vimeo.fa-2x(aria-hidden='true') →
    br
block footer
