extends layout
block content
  .row
    .form-div.col.s12.m5.l5.center
      h2 Thanks for reaching out! 
      hr
      br
      h5 We've recieved your email and will be contacting you using the email or phone numbe that you provided. We're excited about your event and look forward to speaking with you soon!
        
    .map.col.s12.m6.l6.offset-m1.offset-l1
      .contact-info
        h5 Contact Info
        br
        .contact-subinfo
        p
          i.material-icons.left.prefix account_circle 
          | Eric Von Holtscneider
        p
          i.material-icons.left.prefix phone
          | 410-867-5309
        p
          i.material-icons.left.prefix email
          | VonArdenProductions@gmail.com
      .divider
      br
      .video-container
        iframe(src='https://goo.gl/5HEkC2', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
block footer
