/* LAYOUT & ALL PAGES */
html {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('/images/bg-large.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:white;
  height:100vh;
}

#container {
  margin-top: 25px;
  width: 90vw;
  margin-left: 5vw;
}

.subtitle {
  color: lightgreen;
}

/* HEADER */
header {
  margin: 0;
  padding: 0;
  right: 0;
  display: inline-block;
}

/* FOOTER */
footer{
  margin:0;
  padding:0;
  bottom: 0;
}
footer h2{
  display: inline;
}


/* NAVIGATION */
nav {
  display: inline-block;
  float: right;
  margin-top: 3%;
}
nav ul, ul li {
  list-style: none;
  color: white;

}

nav ul li{
  padding-right: 10vw;
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: #008EB9;
}

.active-link {
	color: #008EB9;
}

/* ABOUT PAGE */
.about-body-text {
  float: right;
  display: inline-block;
  width: 40vw;
  color: #008EB9;
}

.about-body-text p {
  margin: 0 auto 2em 0;
  font-size: 1.2em;
}

.about-pic {
  display: inline-block;
}

.about-pic img {
  width: 40vw;
}

/* CONTACT PAGE */
.contact-map {
  display: inline-block;
	float: right;
}
