/* LOGO COLOR */
/* rgba(38, 198, 218, 1) */
/* #26c6da */

/* LAYOUT & ALL PAGES */
html {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('/images/bg-large.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:white;
  height:100vh;
}

.subtitle {
  color: lightgreen;
}

/* HEADER */
header {
  margin: 0;
  padding: 0;
  right: 0;
}

/* FOOTER */
footer{
  margin:0;
  padding:0;
  bottom: 0;
}
footer h2{
  display: inline;
}


/* NAVIGATION */
.logo {
	padding-top: 5px;
}

.active-link {
	color: #26c6da;
}

/* ABOUT PAGE */
.about-body-text {
  float: right;
  display: inline-block;
  width: 40vw;
  color: #26c6da;
}

.about-body-text p {
  margin: 0 auto 2em 0;
  font-size: 1.2em;
}

.about-pic {
  display: inline-block;
}

.about-pic img {
  width: 40vw;
}

/* CONTACT PAGE */
.map {
  display: inline-block;
	float: right;
	margin-top: 14px;
}
