/* LOGO COLOR */
/* rgba(38, 198, 218, 1) */
/* #26c6da */

/* FONTS */
@import 'https://fonts.googleapis.com/css?family=Raleway';

/* LAYOUT & ALL PAGES */
html {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('/images/bg-large.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: sans-serif;
}

body {
  font: 14px 'Raleway', 'Roboto','Lucida Grande', Helvetica, Arial, sans-serif;
  color:white;
  height:100vh;
}

.container {
  margin-top: 1%;
}

p {
  margin-top: 0;
}

img {
  border-radius: 5px;
}

.subtitle {
  color: lightgreen;
}

.card {
  background-color: transparent;
  transition: opacity 1s linear;
}

/* HEADER */
header {
  margin: 0;
  padding: 0;
  right: 0;
}

.nav-spacing {
    margin: 0.5em 0.5em;
}

.side-nav a:first-child {
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 90px;
  line-height: 90px;
  padding: 5px 32px;
  margin: 0;
}

.side-nav a:hover {
  color:#FFF;
}

.side-nav{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.side-bar-logo {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding-top: 50px;
}

/* FOOTER */
footer{
  margin:0;
  padding:0;
  bottom: 0;
  position: fixed;
}
footer h2{
  display: inline;
}
.fa {
    margin-right: 15px;
}

/* NAVIGATION */
.logo {
	padding-top: 5px;
}

.active-link {
	color: #26c6da;
}

/* About */
.about-pic img {
  max-width: 100%;
}

/* CONTACT PAGE */
.map {
  display: inline-block;
	float: right;
	margin-top: 14px;
}
