footer
  .center
    a(href='https://vimeo.com/vonardenproductions')
      span.fa.fa-vimeo.fa-2x(aria-hidden='true')
    |  
    a(href='#')
      span.fa.fa-facebook.fa-2x(aria-hidden='true')
    |     
    a(href='https://www.instagram.com/ericvonn/')
      span.fa.fa-instagram.fa-2x(aria-hidden='true')
    |     
    a(href='https://twitter.com/vonarden')
      span.fa.fa-twitter.fa-2x(aria-hidden='true')
    |     
