footer
  a(href='https://www.facebook.com/timgunnz')
    span.fa.fa-facebook.fa-2x(aria-hidden='true')
  |     
  a(href='https://www.instagram.com/mrtimpender/')
    span.fa.fa-instagram.fa-2x(aria-hidden='true')
  |     
  a(href='https://open.spotify.com/user/12125784329')
    span.fa.fa-spotify.fa-2x(aria-hidden='true')
  |     
  a(href='https://www.linkedin.com/in/timpender')
    span.fa.fa-linkedin.fa-2x(aria-hidden='true')
  |     
  a(href='https://vimeo.com/vonardenproductions')
    span.fa.fa-vimeo.fa-2x(aria-hidden='true')
  p.right Created with care by Tim Pender
