header
  nav
    .nav-wrapper
      a(href='/')
        img.brand-logo.nav-spacing(src='images/full-logo-large.png')
      a(href='#' data-activates='mobile-nav' class='button-collapse nav-spacing')
        i.material-icons menu
      ul.right.hide-on-med-and-down
        li
          a.nav-link(href='/portfolio') Portfolio
        li
          a.nav-link(href='/about') About
        li
          a.nav-link(href='/contact') Contact
      ul.side-nav#mobile-nav
        li 
          a.side-bar-logo-container.black.card(href='/')
            img.brand-logo.side-bar-logo(src='images/full-logo-large.png')
        li
          a.side-bar-link.nav-link(href='/portfolio') 
            span.fa.fa-camera.fa-2x(aria-hidden='true') 
            |Portfolio
        li
          a.side-bar-link.nav-link(href='/about') 
            span.fa.fa-user.fa-2x(aria-hidden='true') 
            |About
        li
          a.side-bar-link.nav-link(href='/contact') 
            span.fa.fa-envelope.fa-2x(aria-hidden='true') 
            |Contact
        li
          a.side-bar-link.nav-link(href='https://vimeo.com/vonardenproductions')
            span.fa.fa-vimeo.fa-2x(aria-hidden='true') 
            |Vimeo
