header
  nav
    .nav-wrapper
      a(href='/')
        img.logo(src='/images/logo.svg')
      ul#nav-mobile.right.hide-on-sm-and-down
        li
          a.nav-link(href='/about') About
        li
          a.nav-link(href='/portfolio') Portfolio
        li
          a.nav-link(href='/services') Services
        li
          a.nav-link(href='/contact') Contact
