header
  a(href='/')
    img(src='images/Logo.svg')
  nav
    ul
      li
        a(href='/') Home
      li
        a(href='/about') About
      li
        a(href='/portfolio') Portfolio
      li
        a(href='/services') Services
      li
        a(href='/contact') Contact
