header
  nav
    .nav-wrapper
      a(href='#!')
        img.brand-logo.nav-spacing(src='../images/logo.svg')
      a(href='#' data-activates='mobile-nav' class='button-collapse nav-spacing')
        i.material-icons menu
      ul.right.hide-on-med-and-down
        li
          a.nav-link(href='/portfolio') Portfolio
        li
          a.nav-link(href='/services') Services
        li
          a.nav-link(href='/pricing') Pricing
        li
          a.nav-link(href='/about') About
        li
          a.nav-link(href='/contact') Contact
      ul.side-nav#mobile-nav
        li 
          a.side-bar-logo.black.card(href='/')
            img.brand-logo(src='../images/logo.svg')
        li
          a.side-bar-link.nav-link(href='/portfolio') Portfolio
        li
          a.side-bar-link.nav-link(href='/services') Services
        li
          a.side-bar-link.nav-link(href='/pricing') Pricing
        li
          a.side-bar-link.nav-link(href='/about') About
        li
          a.side-bar-link.nav-link(href='/contact') Contact
